<h1> Home Page </h1>

<div>
  <p>Total Users: <%= @users_count %> </p>    
</div>

<div>
  <% if user_signed_in? %>
    <div>
        <% if @uploads.exists? %>
          <p> Uploaded Files </p>
          <% @uploads.each do |file| %>
            <p> <%= file.id %> </p>
          <% end %>
        <% else %>
          <p> No Uploads found </p>
        <% end %>
    </div>
    <div>
      <p> Upload Your Files Here, </p>
      <div>
        <%= form_for(@upload) do |f| %>
          <div>
            <%= f.label :file, "File *" %>
            <%= f.file_field(:avatars, :accept => "png/pdf/jpg/jpeg", multiple: true) %>
          </div>
          <div>
            <%= f.submit 'Upload File' %>
          </div>
        <% end %>
      </div>
    </div>
    <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
    </li>
  <% end %>
</div>
